<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Products</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">iSlodycze candy-shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shopping_cart">Koszyk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register">Rejestracja</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h2>Dodaj Produkt</h2>
    <hr/>
    <form th:action="@{/saveProduct}" method="post">
        <input type="hidden" th:field="${productDTO.productId}"class="form-control" required/>
        <input type="text" th:field="${productDTO.productName}" placeholder="Podaj nazwe produktu" class="form-control" required />
        <input th:value="${#numbers.formatCurrency(productDTO.price)}" th:field="${productDTO.price}" placeholder="Podaj cene produktu" class="form-control" required/>
        <input type="number" th:field="${productDTO.amount}" placeholder="Podaj ilosc produktu" class="form-control" required/>
        <input type="text" th:field="*{productDTO.photo}" placeholder="Podaj link do zdjecia produktu" class="form-control" />
        <input type="text" th:field="*{productDTO.youtube}" placeholder="Podaj unikatowe ID youtube dla produktu" class="form-control" />
        <input type="text" th:field="*{productDTO.description}" placeholder="Podaj opis produktu" class="form-control" />

        <ul th:each="category : ${categoryList}">
            <div>
                <label th:text="${category.categoryName}"></label>
                <input type="checkbox" th:field="${productDTO.category}"
                       th:value="${category.categoryName}">
            </div>
        </ul>


        <button  type="submit" class="btn btn-primary">Zapisz produkt</button>
    </form>
</div>
</body>
</html>