<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Category Panel</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="navbar :: navigation"></div>

<div class="container">
    <h1> Kategorie</h1>

    <ul th:each="category : ${categoryList}">
        <div>
            <label th:text="${category.categoryName}"></label>
            <a method=delete th:href="@{'/deleteCategory/'+${category.categoryName}}"
               class="btn btn-primary mb-2">
                Usun Kategorie</a>
        </div>
    </ul>
    <h1>Nowa Kategoria</h1>
    <form th:action="@{/save_category}" method="post">
        <input th:field="${newCategory.categoryName}" placeholder="Podaj nazwe kategorii" class="form-control" required/>
        <button  type="submit" class="btn btn-primary">Zapisz kategorie</button>
    </form>
</div>
</body>
</html>