<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Category Panel</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/">iSlodycze candy-shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shopping_cart">Koszyk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="register">Rejestracja</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1> Categories</h1>

    <h3><a th:href="@{/}">Main Page</a></h3>

    <ul th:each="category : ${categoryList}">
        <div>
            <label th:text="${category.categoryName}"></label>
            <a method=delete th:href="@{'/deleteCategory/'+${category.categoryName}}"
               class="btn btn-primary mb-2">
                Delete Category</a>
        </div>
    </ul>
    <h1>New category</h1>
    <form th:action="@{/save_category}" method="post">
        <input th:field="${newCategory.categoryName}" placeholder="Enter category name" class="form-control" required/>
        <button  type="submit" class="btn btn-primary">Save category</button>
    </form>
</div>
</body>
</html>