<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="navbar :: navigation"></div>

<div class="container text-center">
    <h1>Witamy w iSłodycze</h1>
    <h3>Jest to sklep internetowy gdzie można zakupić przeróżne słodycze od żelków po paluszki</h3>

</div>
<footer>
    <h6>Nasz sklep jest czynny<br>
    Pn-Pt 8:00-16:00<br>
    Sb 8:00-14:00<br>
    Nd Nieczynne
    </h6>
</footer>
</body>
</html>