<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iSłodycze</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/all.css"/>

</head>
<body>

<div th:replace="navbar :: navigation"></div>

<div class="container text-center">
    <h1 class="mt-5 mb-3 text-center">Zamówienia</h1>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th></th>
                <th>Nazwa użytkownika</th>
                <th>Status</th>
                <th>Data i godzina</th>
                <th>Koszt produktów</th>
                <th>Produkty</th>
                <th>Szczegóły dostawy</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orderList}">
                <td></td>
                <td th:text="${order.userIdFk.username}"></td>
                <td th:text="${order.orderStatus}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.totalCost}"></td>
                <td>
                    <p th:each="product: ${order.productOrder}">
                        <a th:text="${product.productFk.productName}"
                              th:href="@{'/product/' + ${product.productFk.productId}}">
                            Product name
                        </a>
                        <span>: </span>
                        <span th:text="${product.amount}">
                            Product amount
                        </span>
                        <span> sztuk</span>
                    </p>
                </td>
                <td class="row m-0">
                    <a class="input-group-lg p-0" id="delivery_details" type="submit"
                       th:href="@{/delivery_details/{orderId}(orderId=${order.orderId})}">
                        <span class="input-group-text text-primary w-50 justify-content-center mx-auto">
                            <i class="fa fa-circle-info" aria-hidden="true"></i>
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script>
var table = document.getElementsByTagName('table')[0],
rows = table.getElementsByTagName('tr'),
text = 'textContent' in document ? 'textContent' : 'innerText';

for (var i = 1, len = rows.length; i < len; i++) {
    rows[i].children[0][text] = i + '. ' + rows[i].children[0][text];
}</script>

</body>
</html>