<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Zamowień</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/all.css"/>

</head>
<body>

<div th:replace="navbar :: navigation"></div>

<div class="container text-center">
    <h1 class="mt-5 mb-3 text-center">Zamówienia</h1>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th>Numer Zamówienia</th>
                <th>Data zamówienia</th>
                <th>Suma kosztów zamówienia</th>
                <th>Potwierdzenie zamówienia</th>
                <th>Etykieta transportowa</th>
                <th>Status zamówienia</th>
                <th>Szczegóły zamówienia</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orderList}">
                <td th:text="${order.orderId}">Id</td>
                <td th:text="${order.orderDate}" id="dateData" >Date</td>
                <td th:text="${order.totalCost}+' zł'">Price</td>
                <td><a th:text="'Potwierzedenie zamówienia nr.' + ${order.orderId}"
                       th:href="@{'/confirmationPdfExport/'+ ${order.orderId}}" class="btn btn-primary btn-sm mb-3"/>
                </td>
                <td><a th:text="'Etykieta transportowa zamówienia nr.' + ${order.orderId}"
                       th:href="@{'/transportLabelPdfExport/'+ ${order.orderId}}" class="btn btn-primary btn-sm mb-3"/>
                </td>
                <td th:text="${order.orderStatus}">Status</td>
                <td><a th:text="szczegóły" th:href="@{'/delivery_details/'+ ${order.orderId}}"
                       class="btn btn-primary btn-sm mb-3"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>