<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navbar" class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
        <h1>Shopping Cart</h1>
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class=""><a href="./index.html">Menu</a></li>
                    <li class=""><a href="./signup_form.html">Registration</a></li>
                    <li class=""><a href="./users.html">Users</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>