<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>iSłodycze</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/all.css"/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">iSlodycze candy-shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shopping_cart">Koszyk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register">Rejestracja</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <h1 class="mt-5 mb-3 text-center">Koszyk</h1>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th></th>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Opis</th>
                <th>Ilość</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem: ${cartItems}">
                <td></td>
                <td>
                    <a th:text="${cartItem.product.productName}"
                        th:href="@{'/product/' + ${cartItem.product.productId}}">Name
                    </a>
                </td>
                <td th:text="${cartItem.product.price}">Price</td>
                <td th:text="${cartItem.product.description}">Description</td>
                <td th:text="${cartItem.quantity}">Quantity</td>
                <td class="row m-0">
                    <a class="input-group-lg p-0" id="delete_item" type="submit"
                       th:href="@{/shopping_cart/remove/{productId}(productId=${cartItem.product.productId})}">
                        <span class="input-group-text text-danger w-50 justify-content-center mx-auto">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-8 mt-5 container">
    <hr class="col-8 col-md-2 mb-4">
    <p>Podsumowanie: </p>
    <p th:text="${cartPrice}">Sum of product's price</p>
    <button type="button" class="btn btn-primary btn-md px-4 mt-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">
        Kupuję!
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Podsumowanie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Nazwa</th>
                        <th>Cena</th>
                        <th>Opis</th>
                        <th>Ilość</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cartItem: ${cartItems}">
                        <td>
                            <a th:text="${cartItem.product.productName}"
                               th:href="@{'/product/' + ${cartItem.product.productId}}">Name
                            </a>
                        </td>
                        <td th:text="${cartItem.product.price}">Price</td>
                        <td th:text="${cartItem.product.description}">Description</td>
                        <td th:text="${cartItem.quantity}">Quantity</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <hr class="col-8 col-md-2 mb-4">
            <p>Podsumowanie: </p>
            <p th:text="${cartPrice}">Sum of product's price</p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <form method="post" th:action="@{/process_order}">
                    <input type="hidden" th:value="${cartPrice}" name="cartPrice"/>
                    <button type="submit" class="btn btn-primary">Formularz dostawy</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script>
var table = document.getElementsByTagName('table')[0],
rows = table.getElementsByTagName('tr'),
text = 'textContent' in document ? 'textContent' : 'innerText';

for (var i = 1, len = rows.length; i < len; i++) {
    rows[i].children[0][text] = i + '. ' + rows[i].children[0][text];
}</script>

</body>
</html>