<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>iSłodycze</title>

  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link th:rel="stylesheet" th:href="@{assets/password-strength-meter/password.min.css}"/>
  <link rel="stylesheet" type="text/css" href="/webjars/font-awesome/css/all.css"/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">iSłodycze candy-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-lg-8 mt-5">
      <form method="post" th:action="@{/process_register}" th:object="${user}">
        <div class="form-group">
          <label for="username" class="pb-1">Username</label>
          <div class="input-group">
            <input type="text" class="form-control" id="username" autocomplete="off"
                   th:field="*{username}"/>
            <div class="input-group-append">
              <span class="input-group-text h-100"><i class="fas fa-user-lock"></i></span>
            </div>
          </div>
        </div>
        <label for="email" class="pt-2 pb-1">Email</label>
        <div class="input-group">
          <input type="text" class="form-control" id="email" autocomplete="off"
                 th:field="*{email}"/>
          <div class="input-group-append">
            <span class="input-group-text h-100"><i class="fa fa-envelope" aria-hidden="true"></i></span>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="pt-2 pb-1">Password</label>
          <div class="input-group" id="show_hide_password">
            <input type="password" class="form-control" id="password" autocomplete="off"
                   th:field="*{userPassword}" required minlength="6" maxlength="10"
                   pattern = "(?=.*\d)(?=.*[a-z])(?=.*?[0-9])(?=.*?[~`!@#$%^&amp;*()_=+\[\]{};:&apos;.,&quot;\\|\/?&gt;&lt;-]).{4,}"/>
            <div class="input-group-append">
              <span class="input-group-text h-100"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
            </div>
          </div>
        </div>

        <button class="btn btn-primary btn-lg mt-4" type="submit">Sing Up</button>
      </form>
    </div>
    <div class="col-lg-3 mt-5 border-start border-3 offset-1">
      <hr class="col-3 col-md-2 mb-4">
      <h5>You already have an account?</h5>
      <a class="btn btn-primary btn-md px-4 mt-2" th:href="@{/login}">Sing in!</a>
    </div>
  </div>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{assets/password-strength-meter/password.min.js}"></script>

<script>
    $('#password').password({
        closestSelector: '.form-group',
        shortPass: 'The password is too short',
        badPass: 'Weak; try combining letters & numbers',
        goodPass: 'Medium; try using special characters',
        strongPass: 'Strong password',
        containsField: 'The password contains your username',
        enterPass: 'Type your password',
        showPercent: false,
        showText: true, // shows the text tips
        animate: true, // whether or not to animate the progress bar on input blur/focus
        animateSpeed: 'fast', // the above animation speed
        field: false, // select the match field (selector or jQuery instance) for better password checks
        fieldPartialMatch: true, // whether to check for partials in field
        minimumLength: 4 // minimum password length (below this threshold, the score is 0)
    });
</script>

<script>
    var input = $("#show_hide_password input");
    var icon = $("#show_hide_password i");

    icon.on('click', function (event) {
        event.preventDefault();

        if (input.attr("type") === "text") {
            input.attr('type', 'password');
            icon.addClass("fa-eye-slash");
            icon.removeClass("fa-eye");

        } else if (input.attr("type") === "password") {
            input.attr('type', 'text');
            icon.removeClass("fa-eye-slash");
            icon.addClass("fa-eye");
        }
    });
</script>

</body>
</html>